*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 67, 118);
}

.main-container {
    margin-top: 14rem;
}

.main-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-container h6 {
    padding-bottom: 5rem;
    text-align: center;
    color: white;
    font-weight: lighter;
}


.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input h5 {
    color: white;
    font-weight: lighter;
    margin-top: 2rem;
    font-size: 18px;
}

.form-input h5 a {
    color: white;
}

#error_handling.hide {
    display: none;
}