*, html {
    padding: 0;
    margin: 0;
}

.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.header {
    position: relative;
    background-color: rgb(186, 215, 241);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 3rem;
}

.services {
    position: relative;
    height: 100%;
    background-color: rgb(154, 203, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}