*,html {
    padding: 0;
    margin: 0;
}

.main-container h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    background-color: rgb(0, 60, 100);
    color: white;
}

.input-text-container, .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.input-text-container {
    background-color: rgb(0, 43, 71);
    color: white;
}

.result-container {
    background-color: rgb(0, 51, 77);
    color: white;
}

.input-to-encrypt, .input-to-decrypt, .result-encrypt, .result-decrypt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.input-text-container textarea, .result-container textarea {
    resize: none;
    width: 100%;
    background-color: rgb(0, 44, 106);
    color: white;
    padding: 5px;
}

.decrypt-btn-container {
    display: flex;
    gap: 1rem;
}

.decrypt-btn-container p {
    padding-top: 8px;
    display: none;
}

.decrypt-btn-container p.show {
    display: block;
}